/* Archives */
div.blog-archives h2 {
    float: left;
    position: relative;
    margin: 0;
}

div.blog-archives article {
    border-bottom: 1px dotted #AAA;
}

div.blog-archives article {
    font-size: 1.1em;
    padding: .3em .2em;
    position: relative;
    overflow: hidden;
}

div.blog-archives time {
    float: right;
    text-align: right;
}

div.blog-archives time {
    color: #8F8F8F;
    font: .9em 'PT Sans', 'Helvetica Neue', Arial, Sans-Serif;
}


@media (max-width: 767px) {
    div.blog-archives h2 {
        float: none;
    }

    div.blog-archives article {
        margin-left: 0;
        padding-left: 0;
    }
}