.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: .5rem;
  border-top: 1px solid #dee2e6;
}

.page-header {
  border-bottom: 1px solid #8f8686;
  margin-bottom: 10px;
}

