/* Article */
.article-content,
div.recent-posts p {
    font: 1.2em/1.6em 'PT Serif', Georgia, 'Times New Roman', Times, Serif;
    text-align: justify;
}

.article-content {
    max-width: 50em;
}

.article-content p,
div.recent-posts p {
    font-size: inherit;
    font-variant: normal;
    line-height: 1.6em;
    text-transform: none;
}

.article-content p {
    margin: 20px 0;
}

.article-content blockquote {
    border-left: 0;
    margin: 20px 0 0 2em;
    padding: 0 0 0 20px;
}

.article-content blockquote:before {
    color: #646464;
    content: '\f10d';
    font: 18px FontAwesome;
    font-style: normal;
    font-weight: normal;
    margin-left: -2em;
    text-decoration: inherit;
    position: absolute;
}

.article-content blockquote {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    font-size: inherit;
    font-variant: normal;
    line-height: 1.7em;
    text-transform: none;
    font-weight: 300;
    position: relative;
}

.article-content ul:not(.related-posts-list):not(.articles-timeline) {
    font-size: inherit;
    list-style-type: disc;
    padding-left: 1em;
}

.article-content ul.related-posts-list {
    list-style-type: square;
}

.article-content ol {
    font-size: inherit;
    list-style-type: decimal;
    padding-left: 1em;
}

.article-content li {
    line-height: 1.7em;
    list-style-position: outside;
    margin: 1px 0 1px 20px;
}

.article-content dl {
    font-size: inherit;
    list-style-position: outside;
    list-style-type: decimal;
    margin: 20px 0 20px 20px;
}

.article-content dd {
    line-height: 1.7em;
    margin: 1px 0 1px 20px;
    padding: 3px 0;
}

.article-content dt {
    font-size: inherit;
}


ul.articles-timeline {
    list-style: none;
    margin: 0;
    padding-bottom: 30px;
}

ul.articles-timeline .next-article {
    float: right;
    margin: 0;
}

ul.articles-timeline .previous-article {
    float: left;
    margin: 0;
}

ul.multi-parts-list a {
    color: black;
}

ul.multi-parts-list a:hover {
    text-decoration: none;
}

ul.multi-parts-list li.active-part {
    font-style: italic;
}

.table-of-content .toc {
    font-size: .7em;
}

.last-updated a {
    color: #333;
}

.last-updated a:hover {
    text-decoration: none;
}

.article-content img {
    border: 2px solid #EEE;
    padding: 5px;
}

p#post-share-links {
    text-align: right;
}