/*********** jumbotron ************/
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: tomato;
  color: wheat;
}

.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.jumbotron>hr {
  border-top-color: #d5d5d5;
}

.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}

.jumbotron .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }

  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

/*********** jumbotron ************/

/********************** footer ************/
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: .5rem;
  border-top: 1px solid #dee2e6;
}

/********************* footer *****************/
/****************** H header *************/
.page-header {
  border-bottom: 1px solid #8f8686;
  color: #8B0000;
  margin-bottom: 10px;
}

.page-header h1 {
  font-size: 3em;
  font-weight: normal;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Baskerville, Garamond, Georgia, 'DejaVu Serif', 'Times New Roman', Times, Serif;
  font-weight: normal;
}

h1 small,
h1 a,
h1 a:hover,
h2 small,
h2 a,
h2 a:hover,
h3 small,
h3 a,
h3 a:hover,
h4 small,
h4 a,
h4 a:hover,
h5 small,
h5 a,
h5 a:hover,
h6 small,
h6 a,
h6 a:hover {
  color: inherit;
  text-decoration: none;
}

a {
  color: #3875d7;
  text-decoration: none;
}
/********************* H header tag **********/



hr {
  border-width: 3px;
}

.table-of-content .toc {
  font-size: 0.85em;
}

.toc li {
  line-height: 25px;
}

.toc ul {
  margin-left: 12px;
  padding-left: 0px;
}

.navbar-toggle .icon-bar {
  background-color: #3875d7;
}

img {
  max-width: 100%;
}

embed {
  max-width: 100%;
}

.iframe-media {
  width: 100%;
  min-height: 493px;
}

@media screen and (max-width: 600px) {
  .iframe-media {
    width: 100%;
    min-height: 315px;
  }
}

.popover {
  min-width: 12em;
  max-width: 22em;
}