/* Categories */
.list-of-categories span {
    font-size: .7em;
    vertical-align: super;
}

a.list-of-categories {
    text-decoration: none;
}

ul.list-articles-category {
    list-style: none outside none;
    margin: 0 0 0 5px;
    padding-left: 0px;
}

ul.list-articles-category li {
    margin-bottom: 0.5em;
}

ul.list-articles-category li time {
    color: #8F8F8F;
    display: inline-block;
    font: .9em 'PT Sans', 'Helvetica Neue', Arial, Sans-Serif;
    width: 9em;
}


a.category-link:hover {
    text-decoration: none;
}

a.list-of-categories {
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Sans-Serif;
    font-size: 1.1em;
}

a.list-of-categories:hover {
    background-color: #08c;
    border-radius: 4px;
    color: #FFF;
}

