.table-of-content .toc {
    font-size: 0.85em;
}

.toc li{
    line-height: 25px;
}

.toc ul{
    margin-left: 12px;
    padding-left: 0px;
}

@media screen and (min-width: 1200px){
.col-md-1-left {
    width: 1% !important;
    }

.col-md-10{
    width: 87.5% !important;
    }

.table-of-content {
    width: 15% !important;
    }
}

.navbar-toggle .icon-bar {
    background-color: #3875d7;
}

img {
    max-width: 100%;
}

embed {
    max-width: 100%;
}

