@charset "UTF-8";

body > p, section > p {
    text-indent: 2em;
}

a.footnote-ref {
    vertical-align: super
}


span.smallcaps {
    font-variant: small-caps
    }
span.underline {
    text-decoration: underline
    }