/* Categories */

ul.list-articles-category {
    list-style: none outside none;
    margin: 0 0 0 5px;
    padding-left: 0px;
}

ul.list-articles-category li {
    margin-bottom: 0.5em;
}

ul.list-articles-category li time {
    color: #8F8F8F;
    display: inline-block;
    font-size: 0.9em;
    width: 9em;
}