.search_content_title {

    font: 300 21px/1.7;
    margin-top: 23px;
    color: #396;
}

.search_content_text {
    font: 300 15px/1.6;
    color: #555;
    word-wrap: break-word;
    hyphens: auto;
    margin-top: 3px;

}

.search_tips {
    margin-top: 25px;
}

mark {
    color: #333;
    font-weight: 400;
    font-size: large;
}