/* Tags */
.list-of-tags {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
    list-style: none;
    margin: 0;
    overflow: hidden;
}

.list-of-tags li {
    float: left;
    line-height: 28px;
    margin: 0;
}

.list-of-tags a {
    background: #EEE;
    border-radius: 3px;
    color: #222;
    margin: 2px;
    padding: 3px 6px;
    text-decoration: none;
}

.list-of-tags a span {
    font-size: .8em;
    vertical-align: super;
}

.list-of-tags {
    padding-left: 0px;
}

.tags-in-article li {
    float: none;
    line-height: 28px;
}

.tag-title {
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Sans-Serif;
}

.articles-in-tag li {
    font: 1.1em/1.6em 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Sans-Serif;
}
