{% extends 'base.html' %}

{% block title %}
<title>所有博文 - {{ SITENAME|striptags|e }}</title>
{% endblock title %}

{% block head_description %}
{{ SITENAME|striptags|e }} 所有博文
{% endblock head_description %}

{% block head_links %}
{{super()}}
<link href="{{ SITEURL }}/theme/css/archives.css" rel="stylesheet">
{% endblock head_links %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <header class="page-header col-md-10 col-sm-12">
            <h1><a href="{{ SITEURL }}/archives.html">所有博文</a></h1>
        </header>
    </div>
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <div class="blog-archives">
                <div id="articles">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <nav class="mt-2" aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" id="pageButtonStepBackward">
                        <a class="page-link" role="button" onclick="changePageButton('StepBackward');">
                            <span aria-hidden="true" class="bi-chevron-bar-left"></span>
                        </a>
                    </li>
                    <li class="page-item" id="pageButtonBackward">
                        <a class="page-link" role="button" aria-label="Previous"
                            onclick="changePageButton('Backward');">
                            <span aria-hidden="true" class="bi-chevron-left"></span>
                        </a>
                    </li>
                    <!--  -->
                    <li class="page-item" id="currentPageButton">
                        <a class="page-link" role="button" onclick="changePageButton(1);">1</a>
                    </li>
                    <!--  -->
                    <li class="page-item" id="pageButtonForward">
                        <a class="page-link" role="button" aria-label="Next" onclick="changePageButton('Forward');">
                            <span aria-hidden="true" class="bi-chevron-right"></span></a>
                    </li>
                    <li class="page-item" id="pageButtonStepForward">
                        <a role="button" class="page-link" onclick="changePageButton('StepForward');">
                            <span aria-hidden="true" class="bi-chevron-bar-right"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{{super()}}
<script>
    let articles = {{ dates | archives_dates_to_json }}
    {% if SITEURL %}
    let siteUrl = "{{ SITEURL }}"
    {% else %}
    let siteUrl = ""
    {% endif %}
</script>

<script src="{{ SITEURL }}/theme/js/archives.js"></script>
{% endblock script %}