{% extends 'base.html' %}

{% block title %}
<title>{{ article.bookname|striptags|e }} - {{ article.bookauthor | striptags | e}} - {{ SITENAME|striptags|e }}</title>
{% endblock title %}

{% block head_links %}
{{super()}}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/bookref.css">
{% endblock head_links %}

{% block content %}
<div class="container mt-3">

    <div class="row">
        <div class="col-sm-12 col-md-11 col-lg-10">
            <div class="page-header">
                <h1><a href="{{ SITEURL }}/{{ article.url }}"> {{ article.bookname }} </a></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-11 col-lg-10">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
                <div class="col">
                    <img class="img-fluid" src="{{article.bookcover }}" alt="book cover">
                </div>


                <div class="col">
                    <div class="">
                        作者：{%- for author in article.bookref_authors -%}
                        <a href="{{ SITEURL }}/{{author.url}}">{{author.name}}</a> {{ " & " if not loop.last else "" }}
                        {% endfor %}
                    </div>

                    {% if article.category|trim|count > 0 %}
                    <div class="">分类：<a class="category-link" href="{{ SITEURL }}/categories-{{article.source_folder}}.html#{{ category.slug }}-{{article.source_folder}}-ref">{{
                            article.category
                            }}</a>
                    </div>
                    {% endif %}

                    {% if article.tags and article.tags[0]|trim|count > 0 %}
                    <div class="">
                        标签：
                        <ul class="list-of-tags tags-in-article">
                            {% for tag in article.tags|sort %}
                            <li><a href="{{ SITEURL }}/tags.html#{{ tag.slug }}-ref">{{ tag }}
                                    {% for aTag, tagged_articles in tags if aTag == tag %}
                                    <span>{{ tagged_articles|count }}</span>
                                    {% endfor %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if article.bookscore %}
                    <div class="">
                        评分： {% for count in range(article.bookscore | int) %}<i class="bi bi-star-fill"></i>
                            {% endfor %}
                    </div>
                    {% endif %}

                    {% if article.bookpublisher %}
                    <div class="">
                        出版商：{{ article.bookpublisher}}
                    </div>
                    {% endif %}

                    {% if article.booklanguage %}
                    <div class="">
                        语言：{{ article.booklanguage}}
                    </div>
                    {% endif %}

                    {% if article.bookbaidupandownloadurl %}
                    <div class="">
                        <a class="btn btn-primary" target="_blank" href="{{article.bookbaidupandownloadurl}}"><span
                                class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                            百度盘下载
                        </a>
                        提取码是：{{ article.bookbaidupandownloadcode }}
                    </div>
                    {% endif %}

                    <div class="btn-download">
                        {% if article.bookepubbaidudownload %}
                        <div class="btn-download-item">
                            <a class="btn btn-primary" target="_blank"
                                href="{{article.bookepubbaidudownload}}"><span
                                    class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                百度epub下载
                            </a>
                        </div>
                        {% endif %}

                        {% if article.bookpdfbaidudownload %}
                        <div class="btn-download-item">
                            <a class="btn btn-primary" target="_blank"
                                href="{{article.bookpdfbaidudownload}}"><span
                                    class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                百度pdf下载
                            </a>
                        </div>
                        {% endif %}

                        {% if article.bookpdfgoogledownload %}
                        <div class="btn-download-item">
                            <a class="btn btn-primary" target="_blank"
                                href="{{article.bookpdfgoogledownload}}"><span
                                    class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                谷歌pdf下载
                            </a>
                        </div>
                        {% endif %}

                        {% if article.bookepubgoogledownload %}
                        <div class="btn-download-item">
                            <a class="btn btn-primary" target="_blank"
                                href="{{article.bookepubgoogledownload}}"><span
                                    class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                谷歌epub下载
                            </a>
                        </div>
                        {% endif %}

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2>书籍简介</h2>
                    {{ article.content }}
                </div>
            </div>
        </div>
    </div>

      {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
        <div class="comments">
          <h2>Comments !</h2>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_shortname = '{{ DISQUS_SITENAME }}';
            var disqus_identifier = '{{ article.url }}';
            var disqus_url = '{{ SITEURL }}/{{ article.url }}';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the comments.</noscript>
        </div>
      {% endif %}

</div>
{% endblock content %}