{% extends 'base.html' %}
{% from 'macros/category_macros.html' import render_category_panel %}

{% block title %}
<title>博文分类页面 -  {{ SITENAME|striptags|e }}</title>
{% endblock title %}

{% block head_description %}
{{ SITENAME|striptags|e }} 这里展示本站所有博文分类，方便快速查阅博文内容。
{% endblock head_description %}

{% block head_links %}
{{super()}}
<link href="{{ SITEURL }}/theme/css/categories.css" rel="stylesheet">
{% endblock head_links %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <header class="col-sm-12 col-md-11 page-header" style="border-bottom: 0pt;">
            <h1><a href="{{ SITEURL }}/categories-articles.html">文章分类</a></h1>
        </header>
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12">
            {# 调用宏：传入分类数据、筛选类型、页面标签、唯一ID #}
            {{ render_category_panel(
                categories=categories, 
                filter_type='articles', 
                page_label='文章', 
                accordion_id='accordionArticles'
            ) }}
        </div>
    </div>
</div>
{% endblock content %}