{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">

    <div class="row">
        <div class="col">
            <div class="page-header">
            <h2>最近博文</h2>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <dl class="">
            {% for article in articles[:10] %}
            {% if loop.index0 < 10 %}
            <dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dt>
            <dd>{{article.summary | truncate(300, True) }}</dd>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="page-header">
                <h2>html5应用</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <dl class="">
                <dt>周易摇卦小程序</dt>
                <dd>一个在线进行周易摇卦的小工具：<a href=" /html_pages/zhou-yi-yao-gua.html">点击使用</a>
                </dd>
            </dl>
        </div>
    </div>

</div>

{% endblock content %}