{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>可知问信不可知信天</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="page-header">
                <h2>推荐</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <dl class="">
                
                <dt>xelatex指南</dt>
                <dd>我试图收集整理各方面来的xelatex相关的信息，包括自己的实践经验总结，作为后学者的指南手册：
                    <a href="https://github.com/a358003542/xelatex-guide-book">Github项目</a>
                    <a
                        href="https://github.com/a358003542/xelatex-guide-book/releases/download/4.1/xelatex.pdf">下载pdf</a>
                    <a
                        href="https://github.com/a358003542/xelatex-guide-book/releases/download/4.1/xelatex.epub">下载epub</a>
                </dd>

                <dt>周易初讲</dt>
                <dd>我编写的周易入门初讲一书。多方资料核对，真正从周易原文出发，感谢上天，天人感应，写作而成的这本周易入门书籍：
                    <a href="{{ SITE_URL }} /articles/zhou-yi-chu-jiang.html">在线阅读</a>
                </dd>

                <dt>周易摇卦小程序</dt>
                <dd>一个在线进行周易摇卦的小工具：<a href="{{ SITE_URL }} /html_pages/zhou-yi-yao-gua.html">点击使用</a>
                    <a href="https://1drv.ms/u/s!AuCYFvwp2KHMgpQk6qBazehlSG5i-w?e=4FjlAh">桌面端程序</a>
                    <a href="https://github.com/a358003542/yaogua2">Github项目</a>
                </dd>


            </dl>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="page-header">
                <h2>其他</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <dl class="dl-horizontal">

                <dt>timer应用程序</dt>
                <dd>计时和倒计时桌面端程序:
                    <a href="https://1drv.ms/u/s!AuCYFvwp2KHMgo16dPul4tZzEe79hw?e=gQNwYv">桌面端程序</a>
                    <a href="https://github.com/a358003542/timer">Github项目</a>
                </dd>


                <dt>人生的智慧</dt>
                <dd>我整理和点评的叔本华的人生的智慧一书：
                    <a href="{{ SITE_URL }} /articles/ren-sheng-de-zhi-hui.html">在线阅读</a>
                    <a href="https://github.com/a358003542/renshengdezhihui">Github项目</a>
                    <a
                        href="https://github.com/a358003542/renshengdezhihui/releases/download/0.1.0/default.pdf">下载pdf</a>
                    <a
                        href="https://github.com/a358003542/renshengdezhihui/releases/download/0.1.0/default.epub">下载epub</a>
                </dd>

                <dt>Unix编程艺术</dt>
                <dd>我精校排版的Unix编程艺术一书：
                    <a href="https://github.com/a358003542/unixbianchengyishu">Github项目</a>
                    <a href="https://github.com/a358003542/unixbianchengyishu/releases/download/0.1/main.pdf">下载pdf</a>
                    <a
                        href="https://github.com/a358003542/unixbianchengyishu/releases/download/0.1/main.epub">下载epub</a>
                </dd>

                <dt>少年维特的烦恼</dt>
                <dd>我精校排版的歌德的少年维特的烦恼一书：
                    <a href="{{ SITE_URL }} /articles/shao-nian-wei-te-de-fan-nao.html">在线阅读</a>
                    <a href="https://github.com/a358003542/shaonianweitedefannao">Github项目</a>
                    <a
                        href="https://github.com/a358003542/shaonianweitedefannao/releases/download/0.1/main.pdf">下载pdf</a>
                    <a
                        href="https://github.com/a358003542/shaonianweitedefannao/releases/download/0.1/main.epub">下载epub</a>
                </dd>


                <dt>唐诗三百首</dt>
                <dd>我排版整理的唐诗三百首一书：
                    <a href="{{ SITE_URL }} /articles/tang-shi-san-bai-shou.html">在线阅读</a>
                    <a href="https://github.com/a358003542/tangshisanbaishou">Github项目</a>
                    <a href="https://github.com/a358003542/tangshisanbaishou/releases/download/0.1/main.pdf">下载pdf</a>
                    <a href="https://github.com/a358003542/tangshisanbaishou/releases/download/0.1/main.epub">下载epub</a>
                </dd>

            </dl>
        </div>
    </div>
</div>

{% endblock content %}