{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <a href="https://a.v2ray.cx/aff.php?aff=3078"> 
            <img class="img-fluid" src="/images/v2net推广.png" />
        </a>
    </div>


<div class="container mt-3">
<!-- 博文 -->

    <div class="row">
        <div class="col">
            <div class="page-header d-flex justify-content-between align-items-center mb-2">
                <h2>博文</h2>
                <a href="{{ SITEURL }}/categories-articles.html" class="text-muted small">查看全部 →</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <dl class="">
            {% for article in articles if article.source_folder == 'articles' %}
            {% if loop.index0 < 12 %}
            <dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dt>
            <dd>{{article.summary | striptags}}</dd>
            {% endif %}
            {% endfor %}
            </dl>
        </div>
    </div>

<!-- 书籍 -->
    <div class="row">
        <div class="col">
            <div class="page-header d-flex justify-content-between align-items-center mb-2">
                <h2>书籍</h2>
                <a href="{{ SITEURL }}/categories-books.html" class="text-muted small">查看全部 →</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <dl class="">
            {% for article in articles if article.source_folder == 'books' %}
            {% if loop.index0 < 12 %}
            <dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dt>
            <dd>{{article.summary | striptags}}</dd>
            {% endif %}
            {% endfor %}
            </dl>
        </div>
    </div>


<!-- 音乐 -->
    <div class="row">
        <div class="col">
            <div class="page-header d-flex justify-content-between align-items-center mb-2">
                <h2>音乐</h2>
                <a href="{{ SITEURL }}/categories-musics.html" class="text-muted small">查看全部 →</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <dl class="">
            {% for article in articles if article.source_folder == 'musics' %}
            {% if loop.index0 < 12 %}
            <dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dt>
            <dd>{{article.summary | striptags}}</dd>
            {% endif %}
            {% endfor %}
            </dl>
        </div>
    </div>


<!-- 游戏 -->
    <div class="row">
        <div class="col">
            <div class="page-header d-flex justify-content-between align-items-center mb-2">
                <h2>游戏</h2>
                <a href="{{ SITEURL }}/categories-games.html" class="text-muted small">查看全部 →</a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <dl class="">
            {% for article in articles if article.source_folder == 'games' %}
            {% if loop.index0 < 12 %}
            <dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dt>
            <dd>{{article.summary | striptags}}</dd>
            {% endif %}
            {% endfor %}
            </dl>
        </div>
    </div>


<!-- html5应用 -->

    <div class="row">
        <div class="col">
            <div class="page-header">
                <h2>html5应用</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <dl class="">
                <dt>周易摇卦小程序</dt>
                <dd>一个在线进行周易摇卦的小工具：<a href=" /html_pages/zhou-yi-yao-gua.html">点击使用</a>
                </dd>
            </dl>
        </div>
    </div>

</div>

{% endblock content %}